<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div id="photopostbutton" class="btn btn-primary">投稿する</div>
    </div>
      <div>
        <table>
          <thead>
            <tr>
              <th>画像</th>
              <th>場所名</th>
              <th>説明文</th>
              <th></th>
            </tr>
          </thead>
          <% @photos.each do |photos|%>
          <tbody>
            <tr id="photoindexpost">
              <td id="photoindexpost1"><%= attachment_image_tag photos, :image, size:'50x50' %></td>
              <td id="photoindexpost2"><%= photos.place_name%></td>
              <td id="photoindexpost3"><%= photos.caption %></td>
              <td>
                <%= link_to "削除", photo_path(photos), method: :delete %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
  </div>
</div><br>
<div id="photopost">
    <h1>画像投稿フォーム</h1>
  <%= form_with model: @photo, local:true do |f| %>
    <h4>画像</h4>
    <%= f.attachment_field :image %>
    <h4>場所名</h4>
    <%= f.text_field :place_name %>
    <h4>説明</h4>
    <%= f.text_area :caption %>
    <%= f.submit '投稿' %>
  <% end %>
</div>

<div id=test>
  
</div>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="photoindex.js"></script>








 