<!DOCTYPE html>
<html>
  <head>
    <title>CARAVAN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <ul>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Log in",  new_user_session_path %></li>
        <li><%= link_to "Log out" %></li>
        <li><%= link_to "b"%></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
